.users {
  color: rgba(0, 0, 0, 0.85);
  list-style: none;
  font-size: 26px;
  text-align: center;
}

a:link {
  text-decoration: none;
  text-align: center;
}

a:hover {
  color: blue;
}

.Mainpage {
  margin: 0;
  padding: 25px;
}

.list {
  padding: 0px;
}

.para {
  margin-top: 0px;
}

.Mainpage-title {
  margin-bottom: 0px;
  font-weight: bolder;
}
