.shoeinfo {
  color: rgba(0, 0, 0, 0.85);
  list-style: none;
  font-size: 26px;
  padding: 0px;
}

.shoedeets {
  margin: 0;
  padding: 25px;
}

.shoespecs {
  padding-left: 0px;
}

a:link {
  text-decoration: none;
  text-align: center;
  color: black;
}

a:hover {
  color: mediumturquoise;
}

.orderlink {
  color: rgba(0, 0, 0, 0.85);
}

.shoetitle {
  font-weight: bolder;
}

.delete_button {
  font-size: 16px;
}

.usage_button {
  font-size: 16px;
}

.update_input {
  font-size: 18px;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */

  input[type="number"] {
    display: inline-block;
    padding: 6px;
  }

  .update {
    display: inline-block;
    clear: left;
    width: 250px;
    text-align: right;
  }

  input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #45a049;
  }

  .addshoeform {
    margin: 0;
    padding: 45px;
  }
}
