* {
  font-family: "Open Sans", sans-serif;
}

.userinfo {
  margin: 0;
  padding: 25px;
}

.shoes {
  color: rgba(0, 0, 0, 0.85);
  list-style: none;
  font-size: 26px;
}

.shoelist {
  padding-left: 0px;
}

.wishlist {
  color: rgba(0, 0, 0, 0.85);
  list-style: none;
  font-size: 20px;
}

.wishes {
  padding-left: 0px;
}

.userdir {
  margin-top: 0px;
}

.usertitle {
  margin-bottom: 0px;
}

.wishbutton {
  margin-bottom: 20px;
}

.orderlink {
  color: rgba(0, 0, 0, 0.85);
}
